[user]
	email = vikdotdev@gmail.com
	name = Viktor Habchak
	signingkey = 525FF9AECD3C79C6
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
[alias]
  edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; nvim `f`"
  add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
  ci = commit
  st = status
  br = branch --show-current
  co = checkout
  fe = fetch
  cl = clean
  cherry = cherry-pick
  di = diff
  dif = diff
  res = restore
  authors = log --pretty=format:'%an <%ae>'
[core]
	autocrlf = input
[commit]
	verbose = true
	; gpgsign = true
[github]
	user = vikdotdev
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  syntax-theme = Dracula
  navigate = true
  side-by-side = true
[interactive]
  diffFilter = delta --color-only -s -n
[gpg]
	program = gpg
