# nice article about inputrc customization
# https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/

set colored-stats On

set completion-ignore-case On

set completion-prefix-display-length 3
set show-all-if-ambiguous On
set show-all-if-unmodified On

set keyseq-timeout 5

set completion-display-width 1
set menu-complete-display-prefix on
