xdg/.local/share*
!xdg/.local/share/applications
scripts/.bin/*
!scripts/.bin/scripts/

vifm/.config/vifm/vifminfo
nvim/.config/nvim/.netrwhist

transmission/.config/transmission-daemon/resume
transmission/.config/transmission-daemon/torrents

