[Desktop Entry]
Encoding=UTF-8
Name=Android Studio
Exec=<%= @android_installation_path %>/bin/studio
Icon=<%= @android_installation_path %>/bin/studio.png
Terminal=false
Type=Application
Categories=Development
