[Unit]
Description=Launch Redshift
After=graphical-session.target

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=graphical-session.target
