[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=echo 'Success'

[Install]
WantedBy=suspend.target
