[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=echo 'Success'

[Install]
WantedBy=suspend.target
