[Unit]
Description=Set caret repeat rate
After=xorg.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xset r rate 250 44

[Install]
WantedBy=mystuff.target
