[user]
  email = vikdotdev@gmail.com
  name = Viktor Habchak
  signingkey = 7392D21113383CBB
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential
[alias]
  ci = commit
  st = status
  co = checkout
  fe = fetch
  pu = pull
  di = diff
  authors = log --pretty=format:'%an <%%ae>'
  amend = commit --amend --no-edit
[core]
  autocrlf = input
[commit]
  verbose = true
  ; gpgsign = true
[github]
  user = vikdotdev
[pager]
  diff = delta --paging always
  log = delta
  reflog = delta
  show = delta
[delta "vikdotdev-dark"]
  dark = true
  syntax-theme = Dracula
[delta "vikdotdev-light"]
  light = true
  syntax-theme = GitHub
  navigate = true
[interactive]
  diffFilter = delta --color-only -s -n
[gpg]
  program = gpg
[diff "gpg"]
  textconv = gpg --no-tty --decrypt
