[Unit]
Description=Launch xsecurelock

[Service]
Type=simple
StandardOutput=journal
ExecStart=%h/bin/sys-xlock start
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
